/* header.css */
.Icon {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-right: 1.5rem;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
    color: #04bbff;
  }
.div-container{
    display: flex;
    margin: 0px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 10px 1px gainsboro;
    width: 100%;


.logo{
    margin-right: 1.5rem;
    object-fit: cover;
}
  